:root {
  --bg: #21202A;
  --fg: #F8F8F3;
  --selection: #3A374B;
  --comment:   #625C87;
  --cyan:      #7FF3FE;
  --green:     #88FC7F;
  --orange:    #FECA80;
  --pink:      #FF81C0;
  --purple:    #B690FF;
  --red:       #FB2C47;
  --yellow:    #FEFF80;
}